{% extends "base.html" %}

{% block title %}Request Refund{% endblock %}

{% block head_extra %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  (() => {
    'use strict';

    var validatedIbansCache = new Map();

    function getCookie(cookieName) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          if (cookie.substring(0, cookieName.length + 1) === (cookieName + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(cookieName.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }

    function getIbanCountryCacheKey(iban, country) {
      return iban + country;
    }

    function cacheIbanCountryPairValidationResult(iban, country, validationResult) {
      var cacheKey = getIbanCountryCacheKey(iban, country);
      validatedIbansCache.set(cacheKey, validationResult);
    }

    function getIbanCountryCachedValidationResult(iban, country) {
      var cacheKey = getIbanCountryCacheKey(iban, country);
      if (validatedIbansCache.has(cacheKey)) {
        return validatedIbansCache.get(cacheKey);
      }
      return null;
    }

    async function validateIBANRequest(data) {
      const cached_result = getIbanCountryCachedValidationResult(data.iban, data.country);
      if (cached_result) {
        return cached_result;
      }

      try {
        const response = await axios.post(
          '{% url "validate_iban" %}',
          data,
          {
            headers: {
              'X-CSRFToken': getCookie('csrftoken'),
            },
            withCredentials: true,
          }
        );
        cacheIbanCountryPairValidationResult(data.iban, data.country, response.data);
        return response.data;
      } catch (error) {
        if (error.status === 429) {
          return {
            error: 'Too many IBAN validation requests. Please try again tommorrow.',
          };
        }
        console.error(error);
        return null;
      }
    }

    async function validateIBAN(blurEvent) {
      const ibanInput = document.querySelector('#id_iban');
      const iban = ibanInput.value;
      const country = document.querySelector('#id_country').value;

      if (!iban || !country) {
        return;
      }

      const data = {
        'iban': iban,
        'country': country,
      };
      const validationResult = await validateIBANRequest(data);
      if (validationResult === null) {
        return;
      }

      const ibanFeedbackElement = ibanInput.parentNode.querySelector('.invalid-feedback');
      if (validationResult.error) {
        ibanInput.classList.add('is-invalid');
        ibanInput.setCustomValidity(validationResult.error);
        if (ibanFeedbackElement) {
          ibanFeedbackElement.textContent = validationResult.error;
        }
      } else {
        ibanInput.classList.remove('is-invalid');
        ibanInput.setCustomValidity('');
        if (ibanFeedbackElement) {
          ibanFeedbackElement.textContent = '';
        }
      }
    }

    function addIBANValidationListeners() {
      const ibanInput = document.querySelector('#id_iban');
      const countryInput = document.querySelector('#id_country');
      if (!ibanInput || !countryInput) {
        return;
      }

      ibanInput.addEventListener('blur', validateIBAN);
      countryInput.addEventListener('blur', validateIBAN);

      const iban = ibanInput.value;
      const country = countryInput.value;
      if (iban && country) {
        cacheIbanCountryPairValidationResult(iban, country, { error: null });
      }
    }

    function addShowHideOtherReasonFieldListeners() {
      const reasonChoiceInput = document.querySelector('#id_reason_choice');
      const otherReasonInput = document.querySelector('#id_other_reason');
      if (!reasonChoiceInput || !otherReasonInput) {
        return;
      }

      const otherReasonDiv = otherReasonInput.parentNode.parentNode;
      otherReasonDiv.classList.add('d-none');
      reasonChoiceInput.addEventListener('change', () => {
        if (reasonChoiceInput.value === 'Other') {
          otherReasonDiv.classList.remove('d-none');
          otherReasonInput.required = true;
          otherReasonInput.focus();
        } else {
          otherReasonDiv.classList.add('d-none');
          otherReasonInput.required = false;
        }
      });
    }

    document.addEventListener('DOMContentLoaded', () => {
      addIBANValidationListeners();
      addShowHideOtherReasonFieldListeners();
    });
  })()
</script>
{% endblock %}

{% block content %}
  <p class="h2 mb-3">Request refund</p>
  <form method="post" novalidate>
    {% csrf_token %}
    {{ form.as_div }}
    <button type="submit" class="btn btn-dark mt-3">Submit</button>
  </form>
{% endblock %}