{% extends "base.html" %}

{% block title %}Request #{{ refund_request.id }}{% endblock %}

{% block content %}
    <p class="h2 mb-3">Refund request no. {{ refund_request.id }}</p>
    <p><strong>Status:</strong> {{ refund_request.get_status_display }}</p>
    <p><strong>Order:</strong> {{ refund_request.order_number }} from {{ refund_request.order_date|date:"d/m/Y" }}</p>
    <p><strong>Products:</strong><br>{{ refund_request.products|linebreaks }}</p>
    <p><strong>Reason:</strong><br>{{ refund_request.reason|linebreaks }}</p>
    <p>
        <strong>Address</strong><br>
        {{ refund_request.address }}<br>
        {{ refund_request.postal_code }} {{ refund_request.city }}<br>
        {{ refund_request.country }}
    </p>
    <p>
        <strong>Banking information</strong><br>
        IBAN: {{ refund_request.iban }}<br>
        Bank: {{ refund_request.bank_name }}<br>
        Account type: {{ refund_request.account_type|capfirst }}
    </p>
    <p>
        <strong>Requestor</strong><br>
        {{ refund_request.first_name }} {{ refund_request.last_name }}<br>
        Email: {{ refund_request.email }}<br>
        Phone: {{ refund_request.phone_number }}
    </p>
    <p><strong>Created at:</strong> {{ refund_request.created_at|date:"d/m/Y h:i" }}</p>
    <br>
    <a href="{% url 'refund_list' %}" class="btn btn-dark">Back to list</a>
{% endblock %}