{% extends "base.html" %}

{% block title %}My requests{% endblock %}

{% block content %}
  <p class="h2 mb-3">Your refund requests</p>
  <p>Click rows to expand/collapse details.</p>
  <table class="table">
    <thead>
      <tr>
        <th style="width: 7%">#</th>
        <th style="width: 15%">Created</th>
        <th style="width: 15%">Order no.</th>
        <th style="width: 15%">Order date</th>
        <th style="width: 38%">Products</th>
        <th style="width: 10%">Status</th>
      </tr>
    </thead>
    <tbody>
    {% for refund_request in refund_requests %}
      <tr data-bs-toggle="collapse" data-bs-target="#detail{{ forloop.counter }}" aria-expanded="false" class="clickable">
        <td>{{ forloop.counter }}</td>
        <td>{{ refund_request.created_at|date:'d/m/y' }}</td>
        <td>{{ refund_request.order_number }}</td>
        <td>{{ refund_request.order_date|date:'d/m/Y' }}</td>
        <td>{{ refund_request.products|truncatechars:50 }}</td>
        <td>{{ refund_request.status|capfirst }}</td>
      </tr>
      <tr class="collapse" id="detail{{ forloop.counter }}">
        <td colspan="6">
          <div class="row">
            <div class="col-12 col-md-10">
              <p><strong>Full Products List:</strong> {{ refund_request.products|truncatechars:200|linebreaks }}</p>
              <p><strong>Refund Reason:</strong> {{ refund_request.reason|truncatechars:200|linebreaks }}</p>
            </div>
            <div class="col-12 col-md-2">
              <a href="{% url 'refund_detail' refund_request.pk %}" class="btn btn-dark">
                Full details
              </a>
            </div>
          </div>
        </td>
      </tr>
    {% empty %}
      <tr><td colspan=6>No refund requests yet.</td></tr>
    {% endfor %}
    </tbody>
  </table>

  {% if is_paginated %}
  <nav aria-label="Page navigation">
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
      {% endif %}

      {% for num in paginator.page_range %}
        {% if page_obj.number == num %}
          <li class="page-item active" aria-current="page">
            <span class="page-link">{{ num }}</span>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
          </li>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Next</a>
        </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
{% endblock %}